$main-black: #121113;
$light-black: #222725;
$lighter-black: #575757;

$main-red: #eb1a22;
$white: #e8edeb;


@font-face {
    font-family: myfuente;
    src: url("../fonts/Righteous-Regular.ttf");
}

@font-face {
    font-family: test;
    src: url("../fonts/Lobster-Regular.ttf");
}